<h2>
    SIGN UP
</h2>
<DIV>
    <form action='/users/create-contact' method="post">
          <input type="text" placeholder="Enter Youe Name" name="name" required>
         <input type="email" placeholder="Enter your Email" name="email" required>
         <input type="password" placeholder="Enter Your Password" name="password" required>
         <input type="password" placeholder="Confirm Password" name="confirmPassword" required>
         <button type="submit">Create Account </button>
        
    </form>
</DIV>