<h2>
    SIGN IN
</h2>
<DIV>
    <form action='/users/create-session' method="post">
         <input type="email" placeholder="Enter your Email" name="email" required>
         <input type="password" placeholder="Enter Your Password" name="password" required>
      
         <button type="submit">Sign In </button>
        
    </form>
</DIV>